.leewang_logo{
    font-family: 'Lobster', cursive;
    margin-top:1rem;
}



.leewang_footer_button{
    font-size: .9rem;
}

.leewang_footer{
    text-align:center;
    margin-top:2rem;
}

.leewang_header{
    text-align:center;
    margin : 2rem 0;
}