.leewang_logo{
    font-family: 'Lobster', cursive;
    margin-top:1rem;
}



.leewang_footer_button{

    font-size: .9rem;


}

.leewang_footer{
    text-align:center;
    margin-top:2rem;
}

.leewang_header{
    text-align:center;
    margin : 2rem 0;
}

@media screen and(max-width:500px) {
    html{
        font-size: 13px;
    }
}


a {
    color: black;
    text-decoration: none
}

a:hover{
    color: gray;
    text-decoration: none;
}


.leewang_header_nav {
    margin: 0 .3rem;
}

.leewang_header_nav_bar{
    margin: 1rem 0;
}